@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

:root{
    --background: white;
    --fontcolor: black;
    --outfontcolor: black;
}

body{
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
    color: var(--fontcolor);
    font-family: 'Readex Pro', sans-serif;
}

.main{
    width: 100%;
    display: flex;
}

p{
    width: 90%;
}

.flexer{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

textarea{
    width: 90%;
    height: 20rem;
    resize: none;
    background: var(--background);
    padding: 0.4rem;
}

#code-area{
    color: var(--fontcolor);
}

#code-area:focus{
    outline: none;
}

#output{
    color: var(--outfontcolor);
}

.red{
    color: red !important;
}

.dark{
    --background: black;
    --fontcolor: rgb(23, 231, 23);
    --outfontcolor: white;
}